<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220351166102-aenr90ve8rmv6tt7o80nq7rme34sqmf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220351166102-aenr90ve8rmv6tt7o80nq7rme34sqmf1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220351166102-bp7fs9eq5avbihhls7b6d93ri37boksc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtZxocb_caplY-phbkiyZjKsfB3yt4Nhc</string>
	<key>GCM_SENDER_ID</key>
	<string>220351166102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.focusApp</string>
	<key>PROJECT_ID</key>
	<string>focus-app-abc37</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-app-abc37.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220351166102:ios:265f7e3be93f6a04a234b7</string>
	<key>DATABASE_URL</key>
	<string>https://focus-app-abc37-default-rtdb.firebaseio.com</string>
</dict>
</plist>